{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/album.css' %}">
    <title>Hello, Pizzas!</title>
</head>
<body>

<form action="{% url 'set_language' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Select">
</form>

<h1>Language test {{ test }}</h1>
<section>
    <p>{% trans "Magyar szöveg..." %}</p>
    <p>Path: <a href="{% url 'pizzas' %}">{% url 'pizzas' %}</a></p>
</section>

<header>
    <h1>Pizzák</h1>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            {% for pizza in pizzas %}
            <div>
                <h2>{{ pizza.name }}</h2>
                <p>{{ pizza.description }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

</main>
</body>
</html>
