{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/album.css' %}" >
	
	<title>Pizza - My orders</title>
	
  </head>
  <body>
    {% include 'layouts/navbar.html' %}
    {% block content %}{% endblock %}

    <main role="main">
        <h1 class="text-center">My previous orders</h1>
        <section class="jumbotron text-center">

        <div class="container bg-dark text-light border rounded mb-5">
            Futár:
            <div class="row center-map">
                <!--                    src="https://maps.google.com/maps?q=<LONGITUDE>%2C+<LATITUDE>&t=&z=15&ie=UTF8&iwloc=&output=embed"-->
                <iframe width="500" height="260" id="gmap_canvas" src="https://maps.google.com/maps?q=47.473956%2C+19.061503&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>

        <div class="container bg-dark text-light border rounded mb-5">


            {% for order in myorders %}
        <div class="container bg-dark text-light border rounded mb-5">
			<div class="row mb-3 mt-3 ml-1">
				<div class="col-3">
					<img class="img-fluid rounded float-left" src="https://source.unsplash.com/random/100x100" alt="Pizzás kép"/>
				</div>
				<div class="col-9">
					<div class="row"><h3>Pizza</h3></div>
					<div class="row">{{ order.3.delivery_date }} -> Shipping here: {{ order.3.O_T_O_Address_Order.city }}, {{ order.3.O_T_O_Address_Order.street_and_street_number }} {{ order.3.O_T_O_Address_Order.door_number_and_others }}, {{ order.3.O_T_O_Address_Order.zip_code }}</div>
				</div>
			</div>
			<div class="row mb-3 mt-3 ml-1">
				<div class="col-8 bg-light text-dark border rounded">
					{% for product in order.0 %}
						<div class="row border-top">
							<div class="col-6 text-left">{{ product.name }} ({{ product.size }})</div>
							<div class="col text-right">{{ product.price }} {{ order.2 }}</div>
						</div>
					{% endfor %}
					<div class="row border-top">
						<div class="col-6 text-left">Total</div>
						<div class="col text-right">{{ order.1 }} {{ order.2 }}</div>
					</div>
				</div>
				<div class="col-4">
					<a href="{% url 'pizzalist' %}" class="btn btn-secondary my-2">Reorder</a>
				</div>
			</div>
        </div>
		{% endfor %}
    </section>
    </main>
    <footer class="text-muted">
		{% include 'layouts/footer.html' %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

