{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/album.css' %}" >
	
	<title>Pizza - My orders</title>
	
  </head>
  <body>
    {% include 'layouts/navbar.html' %}
    {% block content %}{% endblock %}

    <main role="main">
        <h1 class="text-center">My previous orders</h1>
        <section class="jumbotron text-center">
        {% for orderitems, sum, date in myorders %}
        <div class="container bg-dark text-light border rounded mb-5">
			<div class="row mb-3 mt-3 ml-1">
				<div class="col-3">
					<img class="img-fluid rounded float-left" src="https://source.unsplash.com/random/100x100" alt="Pizzás kép"/>
				</div>
				<div class="col-9">
					<div class="row"><h3>Pizza</h3></div>
					<div class="row">{{ date }} -> Shipping here: {{ address.city }}, {{ address.street_and_street_number }} {{ address.door_number_and_others }}, {{ address.zip_code }}</div>
				</div>
			</div>
			<div class="row mb-3 mt-3 ml-1">
				<div class="col-8 bg-light text-dark border rounded">
					{% for orderitem in orderitems.O_T_M_Product_OrderItems2 %}
					<div class="row border-top">
						<div class="col-6 text-left">{{ orderitem.name }} ({{ orderitem.size }})</div>
						<!--div class="col text-right">1390 Ft</div-->
					</div>
					{% endfor %}
					{% for orderitem in orderitems.O_T_M_Product_OrderItems %}
					<div class="row border-top">
						<div class="col-6 text-left">{{ orderitem.name }} ({{ orderitem.size }})</div>
						<!--div class="col text-right">1390 Ft</div-->
					</div>
					{% endfor %}
					<div class="row border-top">
						<div class="col-6 text-left">Total</div>
						<div class="col text-right">{{ sum.amount }} {{ sum.currency }}</div>
					</div>
				</div>
				<div class="col-4">
					<a href="{% url 'pizzalist' %}" class="btn btn-secondary my-2">Reorder</a>
				</div>
			</div>
        </div>
		{% endfor %}
    </section>
    </main>
    <footer class="text-muted">
		{% include 'layouts/footer.html' %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

