input[type=text] {
  width: 230px;
  padding: 0.3% 0.5%;
  margin: 0.1% 0.1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 230px;
  padding: 0.3% 0.5%;
  margin: 1% 0.1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

main {
	background-color: #f2f2f2;
}

h2 {
	padding-bottom: 2%;
	padding-top : 1%;
}

button[type=submit] {
  width: 160px;
  background-color: #808080;
  color: #ffffcc;
  padding: 7px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #b3b3b3;
}

input[type=submit] {
  width: 160px;
  background-color: #808080;
  color: #ffffcc;
  padding: 7px 0;
  margin-top: 1%;
  margin-bottom: 1%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #b3b3b3;
}
