input[type=text] {
  width: 230px;
  padding: 0.3% 0.5%;
  margin: 1% 0.1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 230px;
  padding: 0.3% 0.5%;
  margin: 1% 0.1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

p {
	margin-left: 1%;
}

main {
	background-color: #f2f2f2;
}

h2 {
	padding-bottom: 2%;
	padding-top : 1%;
	margin-left: 1%;
}

button[type=submit] {
  width: 170px;
  background-color: #808080;	
  color: #ffffcc;
  padding: 0.5% 0;
  margin-top: 1%;
  margin-bottom: 1%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1%;
}

.helptext::before {
  content: "\A";
  white-space: pre;
}

button[type=submit]:hover {
  background-color: #b3b3b3;
}

.errorlist {
	color: red;
	list-style-image: url("../images/error.png");	
	margin-top: 2%;
	margin-bottom: -0.8%;
}
